$font-size: 18px;
$small-radius: 24px;
$small-trait-stroke: 2px;

$dark-blue: #1B4965;
$light-blue: #5FA8D3;
$off-white: #E3E7D3;

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideRight {
  from {margin-left: -100%;  }
  to {margin-left: -35%;}
}

@keyframes slideRightButton {
  from {margin-left: -100%;  }
  to {margin-left: -25%;}
}


.top-bar {
  display: flex;
  justify-content: space-around;
  h1 {
    font-size: 128px;
    margin-left: -35%;
    animation-name: slideRight;
    animation-duration: 1500ms;
  }
  img {
    position: absolute;
    margin-top: -10%;
    margin-left: -20%;
    z-index: -1;
    animation-name: fadeIn;
    animation-duration: 5000ms;
  }
}

.button-list {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  button {
    width: 250px;
    text-align: center;
    margin-left: -25%;
    margin-top: 10px;
    animation-name: slideRightButton;
    animation-duration: 1500ms;
  }
}

.flex-display {
  margin-top: 20%;
  display: flex;
  justify-content: space-around;
}

.outline-text {
  h1 {
    -webkit-text-stroke: 1px $off-white;
    font-size: 128px;
    text-align: right;
    margin-top: 12vh;
    color: $dark-blue;
    &:hover {
      color: $off-white;
      transition: color ease-in-out 2000ms;
    }
  }
}
