<div class="container">
  <div class="flex-display">
    <div class="left-pannel">
      <span class="top-bar">
        <div class="main-title">
          <h1>Christelle</h1>
          <h1>Marois</h1>
        </div>
        <div class="img-christelle">
          <img src="https://picsum.photos/500/800" alt="Christelle">
        </div>
      </span>

      <div class="button-list">
        <button (click)="showPanel($event)"> {{ stories }} </button>
        <button (click)="showPanel($event)"> {{ speciality }} </button>
        <button (click)="showPanel($event)"> {{ contact }} </button>
      </div>
    </div>
    <div class="right-pannel">
      <app-intro></app-intro>
    </div>
  </div>

  <div class="bottom-info outline-text">
    <h1>Une personne à l'écoute</h1>
  </div>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>

<router-outlet></router-outlet>
