<div class="container">
  <div class="top-bar">
    <h1 class="title">Christelle Marois</h1>
  </div>

  <div class="presentation">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolorum reiciendis culpa fuga, vitae facilis nemo. Reiciendis veritatis voluptatum commodi sunt porro ea consequatur, mollitia ex? Molestias velit nostrum accusantium? Unde cum magni fuga accusamus nam asperiores incidunt, reprehenderit delectus cumque maiores, impedit numquam quis ducimus, consequuntur facilis quidem error?
    </p>
  </div>

  <button> Histoires </button>

</div>

<router-outlet></router-outlet>
